main {
    padding: 100px 200px;
    display: flex;
    flex-direction: column;
}

h1,
time {
    text-align: center;
    color: #9D9D9D;
}

h1 {
    color: var(--titulo-rosa);
    font-size: 50px;
}

main img {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 65px;
}

h3 {
    color: var(--titulos);
    font-size: 26px;
}

/*Conheça mais cursos*/


h2 {
    text-align: center;
    color: var(--titulo-rosa);
    font-size: 50px;
}

#conheca-curso {
    background-color: var(--cor-secao);
    padding: 80px;
}

#curso {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cursos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    text-align: center;

    width: 345px;
    height: 660px;

    padding-top: 100px;
}

.cursos img {
    width: 280px;
    height: 280px;
}

.cursos h3 {
    color: var(--titulo-rosa);
    font-size: 25px;
}

.cursos p {
    width: 290px;
    height: 90px;

    font-size: 17px;
}

.cursos button {
    background-color: var(--titulo-rosa);
    border-style: none;
    border-radius: 62px;
    padding: 12px 25px;

    color: #FFF;
    font-size: 20px;
}


@media only screen and (max-width:480px) {
    main {
        padding: 20px;
        margin: 0 auto;
    }

    h1 {
        padding-top: 20px;
        font-size: 2rem;
    }

    h2 {
        font-size: 2.5rem;

    }

    #conheca-curso {
        padding: 20px
    }

    #curso {
        flex-direction: column;
        padding: 15px;
    }

    #curso img {
        width: 200px;
        height: 200px;
    }

    #curso h3 {
        width: 90%;
        font-size: 1.7rem;
    }

    .cursos p {
        width: 85%;
    }
}

@media only screen and (min-width:481px) and (max-width:1024px) {
    main {
        padding: 20px;
        margin: 0 auto;
    }

    h1 {
        padding-top: 20px;
        font-size: 2rem;
    }

    h2 {
        font-size: 2.5rem;

    }

    #conheca-curso {
        padding: 20px;
        max-width: 100%;
    }

    #curso {
        flex-direction: column;
        padding: 15px;
        width: 100%;
    }

    #curso img {
        width: 200px;
        height: 200px;
    }

    #curso h3 {
        width: 100%;
        font-size: 1.7rem;
    }

    .cursos p {
        width: 85%;
    }
}