* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    overflow-x: hidden;
}

.generica {
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
}

button {
    transition: 300ms;
    cursor: pointer;
}

button:hover {
    box-shadow: 2px 4px 8px rgb(102, 100, 100);
}

:root {

    /*Cores do site */

    --cor-header: #2E948A;
    --cor-footer: #419488;
    --cor-secao: #F6F6F6;
    --titulo-rosa: #FF4081;
    --titulos: #009688;
    --cor-texto: rgb(0, 0, 0);
}