#intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 60px;
    margin-bottom: 60px;
}

#intro-texto {
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#titulo {
    color: var(--titulo-rosa);
    font-size: 60px;

    width: 480px;
    height: 210px;
}

.texto {
    font-size: 27px;
    color: var(--cor-texto);

    width: 350px;
    height: 60px;
}

.botao-branco {
    border: 2px solid var(--titulo-rosa);
    border-radius: 62px;
    padding: 8px 40px;

    background-color: #fff;
    color: var(--titulo-rosa);

    font-size: 24px;
}

/*Seção cursos*/

#curso {
    background-color: var(--cor-secao);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 80px;
}

.cursos {
    text-align: center;
    width: 344px;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cursos img {
    width: 288px;
    height: 270px;
}

.cursos h3 {
    color: var(--titulo-rosa);
    font-size: 25px;
}

.cursos p {
    color: var(--cor-texto);
}

.cursos button {
    background-color: var(--titulo-rosa);
    border-style: none;
    border-radius: 62px;
    padding: 12px 25px;

    color: #FFF;
    font-size: 20px;
}

/*Seção de Comentários*/
#comentario {
    padding: 80px;
    margin-bottom: 40px;
}

#comentario h3 {
    color: #009688;

    font-size: 37px;

    margin-left: 40px;
}

#alinhar-comentarios {
    display: flex;
    flex-wrap: wrap;

    margin-top: 80px;
}

.comentarios {
    display: flex;
    padding: 50px;
}


.comentarios p {
    width: 360px;
    height: 70px;
    font-size: 17px;
    color: var(--cor-texto);
}

.comentarios img {
    width: 100px;

    margin-right: 30px;
}

.comentarios span {
    color: var(--cor-texto);

}


/*Seção dos Conteudos*/

#conteudo {
    background-color: var(--cor-secao);
    padding: 80px;

    padding-bottom: 120px;
}

#conteudo h3 {
    color: var(--titulos);

    font-size: 37px;

    font-weight: 700;

    margin-left: 40px;
    margin-bottom: 40px;
}

#conteudos {
    display: flex;
}


article {
    display: flex;
    flex-direction: column;

    padding: 40px;
}

article strong {
    color: var(--titulos);

    font-size: 27px;
}

#conteudo button {
    display: block;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--cor-secao);
}


@media only screen and (max-width:480px) {

    #intro {
        width: 290px;
        margin: 0 auto;
        justify-content: space-around;
    }

    #intro img {
        display: none;
    }

    #intro h1 {
        width: 100%;
        font-size: 1.7rem;
        padding: 45px 10px 0px;

        height: 100px;
    }

    .texto {
        width: 100%;
        font-size: 1.2rem;
    }

    #intro button {
        margin-bottom: 30px;
    }

    #intro-texto {
        width: 100%;
        flex-direction: column;
        align-items: center;

        text-align: center;
    }

    #curso {
        flex-direction: column;
        padding: 0;
        margin: 0 auto;
    }

    .cursos {
        width: 100%;
        padding: 40px;
    }

    .cursos img {
        width: 200px;
        height: 200px;
    }

    .cursos button {
        margin-top: 10px;
    }


    #comentario {
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }

    #comentario h3 {
        width: 290px;
        margin: 0 auto;

        padding: 20px 25px 0px 25px;

        text-align: center;
    }

    #alinhar-comentarios {
        flex-direction: column;
    }

    .comentarios {
        padding: 15px;

        width: 100%;
    }

    .comentarios img {
        width: 50px;
        height: 50px;
    }

    .comentarios p {
        width: 100%;
        font-size: 0.8rem;
    }

    .comentarios span {

        font-size: 0.9rem;
    }

    #conteudo {
        padding: 15px;
    }

    #conteudo h3 {
        width: 290px;
        margin: 0 auto;

        padding: 20px;

        text-align: center;
        display: flex;
        align-items: center;
    }

    #conteudos {
        flex-direction: column;
    }
}