#contato {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0px 100px
}

#area-contato {
    display: flex;
    flex-direction: column;

    width: 500px;
    height: 400px;

    margin-right: 200px;
}

#area-contato h1 {
    color: var(--titulo-rosa);

    font-size: 40px;

    padding-bottom: 40px;
}

.form {
    padding-bottom: 15px;
}

#nome {
    width: 500px;
    height: 32px;

    border: 1px solid #686868;
    border-radius: 7px;
}

#email {
    width: 500px;
    height: 32px;

    border: 1px solid #686868;
    border-radius: 7px;
}

#mensagem {
    width: 500px;
    height: 195px;

    border: 1px solid #686868;
    border-radius: 7px;
}

.form button {
    background-color: var(--titulo-rosa);
    font-size: 20px;

    color: #fff;

    padding: 10px 40px;

    border-style: none;
    border-radius: 50px;

}


@media only screen and (min-width: 300px) and (max-width: 1024px) {
    #contato {
        width: 100%;
        padding: 10px;
        margin: 0 auto;
    }

    #contato img {
        display: none;
    }

    #area-contato {
        width: 100%;
        height: 500px;
        margin: 0;

        text-align: center;
    }

    #nome,
    #email,
    #mensagem {
        width: 100%;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    #contato {
        width: 100%;
        margin: 0 auto;
        padding: 40px;
    }

    #contato img {
        width: 40%;
    }

    #area-contato {
        margin: 0;
        width: 60%;
    }

    #area-contato h1 {
        padding-bottom: 10px;
    }
}