header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-cabecalho {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main {

    color: var(--cor-secao)
}

i {
    padding: 40px 100px;
    color: var(--titulos);
}

main div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 5px 100px 25px 100px;
}

main img {
    width: 400px;
}

main h1 {
    color: var(--titulos);
    font-size: 50px;
}


@media only screen and (max-width:480px) {
    #logo-cabecalho {
        width: 200px;
        height: 45x;
    }

    main {
        padding: 20px;
    }

    main h1 {
        width: 250px;
        font-size: 2.5rem;
        text-align: center;
    }

    main img {
        width: 250px;
    }

}