header {
    display: block;
}

#logo-cabecalho {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main {

    color: var(--cor-secao)
}

i {
    padding: 40px 100px;
    color: var(--titulos);
}

main div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 5px 100px 25px 100px;
}

main img {
    width: 400px;
}

main h1 {
    color: var(--titulos);
    font-size: 50px;
}